/*
 * Nextflow config for data preparation workflow
 */

// Enable Wave containers
wave {
    enabled = true
    strategy = 'container'
}

// Docker settings
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

// Fusion filesystem for S3 access
fusion {
    enabled = true
}

// Default parameters
params {
    outdir = 's3://scidev-playground-eu-west-2/sarek-optimization/data'
    chromosome = 'chr21'
}

// Process defaults
process {
    errorStrategy = 'retry'
    maxRetries = 2
}

// Manifest
manifest {
    name = 'sarek-optimization/prepare-data'
    author = 'Seqera'
    description = 'Prepare chr21 subset of GIAB HG002 for Sarek optimization'
    version = '1.0.0'
}
